.userinfo {
    .userinfo_table {
        table {
            text-align: center;
            th {
                text-align: center;
            }
            td {
                .ant-switch {
                    background-color: #E3505E
    
                }
                .ant-switch-checked {
                    background-color: #5BDC94
                }
            }
        }
    }
}